@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    background: url(background.jpg) no-repeat center;
    background-size: cover;
    z-index: -2;
}
body:after {
    content: "";
    width: 100vw;
    height: 100vh;
    z-index: -1;


    background: rgba(255, 255, 255, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #cdd0eb;
}

unnamed-proj {
    display: block;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(1rem);

    --tw-shadow-color: #b40202;
    --tw-shadow: var(--tw-shadow-colored);

    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);



    margin: auto;
    max-width: 1000px;
    height: 100vh;
    z-index: 0;


    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 10s infinite linear;
    font-family: monospace;
    z-index: 0;
}